<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.alvini.insta.budgetmonitor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission 
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Angel" >
        <activity
            android:name="fr.alvini.insta.budgetmonitor.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Activités OPERATION BEGIN -->
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.OperationActivity"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.AjoutOperation"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.ModifierOperation"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <!-- Activités OPERATION END -->
        
        <!-- Activités BUDGET BEGIN -->
         <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.BudgetAdd"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.BudgetList"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.BudgetDetails"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <!-- Activités BUDGET END -->
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.Gerer"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.Exporter"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.Parametres"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.A_propos"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.MentionsLegales"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.Aide"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.CategoryList"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.CategoryDetails"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.activities.RecurrenceList"
            android:label="@string/app_name"
            android:parentActivityName="fr.alvini.insta.budgetmonitor.HomeActivity" >
        </activity>
        
        
        <!-- DEBUT ACTIVITES TEST -->
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.tests.TestChooseActivity"
            android:label="Tests">
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.tests.TestBudget"
            android:label="Tests">
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.tests.TestBudgetAdd"
            android:label="Tests">
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.tests.TestBudgetList"
            android:label="Tests">
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.tests.TestCategory"
            android:label="Tests">
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.tests.TestCategoryAdd"
            android:label="Tests">
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.tests.TestCategoryList"
            android:label="Tests">
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.tests.TestCategoryDetails"
            android:label="Tests">
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.tests.TestOperation"
            android:label="Tests">
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.tests.TestParameter"
            android:label="Tests">
        </activity>
        <activity 
            android:name="fr.alvini.insta.budgetmonitor.tests.TestRecurrence"
            android:label="Tests">
        </activity>
        <!-- FIN ACTIVITES TEST -->
    </application>

</manifest>
